/**  

Code by Maddie Kahlon

*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #999;
}

a {
    text-decoration: none;
    color: #666;
}

strong {
    background: #fffedb;
    font-weight: 500;
}

#mailboxcage {
    position: absolute;
    right: 355px; 
    top: 130px;
    left: 500px;
}

#mailbox {
    cursor: pointer;
}

#footer {
    position: absolute;
    z-index: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    line-height: 10px;
    bottom: 5px;
    left: 0;
}

#envelope {
    position: absolute;
    width: 60px;
    height: 80px;
    background: #f1f1f1;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 4px 4px 1px #eee;
    z-index: 10;
}

#middleline {
    height: 80px;
    width: 1px;
    background: #000;
    position: absolute;
    margin: 0 0 0 29px;
    opacity: 0.5;
}

#intriangle {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 15px;
    background: #f1f1f1;
    margin: -39px 0 0 -1px;
    transform: rotate(45deg);
}

#intriangle2 {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 15px;
    background: #fff;
    margin: -39px 0 0 -1px;
    transform: rotate(45deg);
    display: none;
}

#whitecover {
    position: absolute;
    width: 60px;
    height: 5px;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #fff;
    margin: 0;
    z-index: 13;
    display: none;
}

#outtriangle {
    position: absolute;
    margin: -20px 0 0 5px;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 15px;
    background: #f1f1f1;
    transform: rotate(45deg);
    z-index: 8;
    opacity: 0;
}

#paper {
    position: absolute;
    z-index: 9;
    margin: -15px 0 0;
    width: 60px;
    height: 40px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 3px;
    opacity: 0;
    overflow: hidden;
}

.paperline {
    width: 40px;
    height: 1px;
    background: #ccc;
    margin: 4px 0 -2px 10px;
}

#bigpapercontainer {
    position: absolute;
    margin: -125px 0 0 100px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 99;
}

#bigpaper {
    border: 1px solid #000;
    background: #fff;
    border-radius: 4px;
    box-shadow: 4px 4px 1px #f1f1f1;
    overflow: hidden;
    width: 120px;
    height: 160px;
}

#bigpapertext {
    position: absolute;
    z-index: 11;
    margin: 5px 0 0 10px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    line-height: 13px;
    overflow: hidden;
    color: #000;
    width: 100px;
    height: 140px;
}

.bigpaperline {
    width: 120px;
    height: 1px;
    background: #f1f1f1;
    margin-top: 7px;
}

#coverletter {
    position: absolute;
    width: 130px;
    height: 170px;
    margin: -125px 0 0 100px;
    opacity: 0;
}

#mailbox:hover #outtriangle {
    opacity: 1;
}

#mailbox:hover #intriangle {
    display: none;
}

#mailbox:hover #intriangle2 {
    display: inline;
}

#mailbox:hover #envelope {
    border-top: 1px solid #fff;
}

#mailbox:hover #paper {
    opacity: 1;
}

#mailbox:hover #whitecover {
    display: inline;
}

#mailbox:hover #bigpapercontainer {
    opacity: 1;
    margin: -130px 0 0 100px;
}

#sect1 {
    width: 262px;
    height: 40px;
    background: #fafafa;
    border: 1px solid #c9c9c9;
    position: absolute;
     margin: 227px 0 0 140px;
    padding: 7px;
    box-shadow: 3px 3px 1px #f7f7f7;
}

#sect2 {
    width: 262px;
    height: 40px;
    background: #fafafa;
    border: 1px solid #c9c9c9;
    position: absolute;

    padding: 7px;
    box-shadow: 3px 3px 1px #f7f7f7;
   margin: 315px 0 0 140px;
}

#sect3 {
    width: 840px; /* or whatever width you're using */
    height: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
 transform: translate(calc(-50% + 84px), -25%);
}

#sect4 {
    position: absolute;
 width: 320px;
    position: absolute;
    top: 0;
  left: 110px;
    margin: 0;

}

#stylecode,
#bodycode {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: Courier, monospace;
    font-size: 10px;
    line-height: 13px;
}

::-webkit-scrollbar { 
    width: 5px; 
    height: 7px; 
}
 
::-webkit-scrollbar-thumb {
    background-color: #c6c6c6;
    border: 0;
}

::-webkit-scrollbar-track-piece { 
    background-color: transparent;
}

::selection {
    background: #fdff97;
}

::-moz-selection {
    background: #fdff97;
}

#controls {
    width: 305px;
    margin: 0 auto;
    padding-left: 30px;
}

.buttonbox {
    width: 100px;
    display: block;
    float: left;
    margin-bottom: 10px;
}

.buttontitle {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    margin: 5px 0 3px;
}

#buttoncage {
    margin: 0 auto;
    width: 260px;
}

#fontf,
#bordersf,
#envelopef,
#paperf,
#paperlinesf,
#shadowf {
    padding: 3px;
    background: #fff;
    width: 70px;
    font-family: Arial, sans-serif;
    font-size: 10px;
    letter-spacing: 1px;
    display: block;
    color: #999;
    border: 1px solid #c9c9c9;
    outline: none;
    box-shadow: 3px 3px 1px #f7f7f7;
}

#textf {
    border: 1px solid #c9c9c9;
    padding: 7px;
    background: #fff5f5;
    width: 262px;
    height: 70px;
    resize: none;
    font-family: Arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 14px;
    color: #999;
    margin-bottom: 10px;
    outline: none;
    box-shadow: 3px 3px 1px #f7f7f7;
}

.copydisc {
    width: 272px;
    position: absolute;
    margin: -41px 0 0 -7px;
    font-size: 10px;
}

.copydisc2 {
    width: 272px;
    position: absolute;
    margin: -31px 0 0 -7px;
    font-size: 10px;
}

#thn {
    width: 100px;
    height: 40px;
    position: absolute;
    margin: 420px 0 0;
}

#icarus {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f5f5f5;
    padding: 6px 0;
    font-size: 11px;
    line-height: 11px;
    color: #999;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#ftt {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 5px 0;
    background: #fff;
    font-size: 11px;
}


