/**  

丂匚尺丨卩ㄒ乇丂ㄒ
by Maddie

*/

body {
  margin: 0;
  padding: 0;
  background: #e8e8e8;
}

a:hover {
  color: #FF0000;
}

#content {
  display: grid;
  place-items: center;
  height: 100vh;
  overflow-y: scroll;
}

#landing {
  width: 350px;
  height: 670px;
  padding: 20px 50px;
  background: #f4f4f4;
  -webkit-border-top-left-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topleft: 30px;
  -moz-border-radius-bottomright: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid #d9dae4;
}

#art {
  width: fit-content;
  margin: 0 auto;
  position: relative;
  margin-left: 25px;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#art #bot {
  width: 250px;
  margin-left: 0px;
  opacity: 0.9;
}

.cog {
  width: 100%;
}

#cog1 {
  position: absolute;
  margin: -50px 0px 0px 20px;
  width: 50px;
  opacity: 0.6;
}

#cog2 {
  position: absolute;
  margin: -160px 0px 0px 210px;
  width: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #1d2943;
  opacity: 0.9;
}

.script {
  font-size: 42px;
  font-weight: 900;
  line-height: 40px;
  display: block;
}

.est {
  font-size: 17px;
  line-height: 17px;
  font-weight: 200;
  color: #000;
  font-family: Courier, monospace;
  padding-left: 1px;
  margin-top: -3px;
  margin-left: 100px;
  display: block;
}

.rotate1 {
  animation: rotation1 18s infinite linear;
}

.rotate2 {
  animation: rotation2 18s infinite linear;
  opacity: 0.9;
  width: 20px;
  position: absolute;
  margin: -62px 0px 0px 63px;
  background: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-359deg);
  }
}

#text-section {
  width: 100%;
  height: auto;
  background: none;
  margin-top: 30px;
  color: #495466;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.5px;
  cursor: default;
}

#text-section ul {
  list-style: none;
  padding-left: 0px;
}

#text-section li {
  margin-bottom: 15px;
}

strong {
  color: #32af12;
}

li strong {
  color: #79848d;
}

.linked {
  color: #50527c;
  font-weight: 900;
  text-decoration: none;
}

a.linked {
  border-bottom: 1px solid #000;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  body {
    background: #e8e8e8;
  }

  #landing {
    border: 0px;
    width: 100%;
    padding: 30px 0px;
    height: auto;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top: 1px solid #d9dae4;
    border-bottom: 1px solid #d9dae4;
  }

  #art #bot {
    width: 200px;
  }

  #art {
    margin-left: calc(50% - 120px);
  }

  #text-section {
    padding: 0px 30px 20px 30px;
    display: block;
    width: auto;
  }

  #cog2 {
    margin: -140px 0px 0px 175px;
  }

  #cog1 {
    margin: -30px 0px 0px 20px;
    width: 40px;
  }
}

@media screen and (max-height: 700px) and (max-width: 500px) {
  #content {
    display: block;
    height: auto;
    overflow-y: auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  #landing {
    padding: 20px 0px;
  }
}
